<mdc-top-app-bar fixed>
  <mdc-top-app-bar-row>
    <mdc-top-app-bar-section align="start" title="App">
      <button mdcTopAppBarNavIcon>
        <mdc-icon>menu</mdc-icon>
      </button>
    </mdc-top-app-bar-section>
    <mdc-top-app-bar-section align="end">
      <mdc-icon mdcTopAppBarActionItem>file_download</mdc-icon>
      <mdc-icon mdcTopAppBarActionItem>print</mdc-icon>
      <mdc-icon mdcTopAppBarActionItem>bookmark</mdc-icon>
    </mdc-top-app-bar-section>
  </mdc-top-app-bar-row>
</mdc-top-app-bar>
<!-- <div class="demo-app-bar-content" #fixedContent>
  <p *ngFor="let lorem of lorems">{{lorem}}</p>
</div> -->
